@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Alumni+Sans+Inline+One&display=swap');

:root {
    ---cor01:#C1D6B8;
    ---cor02:#9CAD95;
    ---cor03: #E1FAD7;
    ---cor04: #778572;
    ---cor05: #535C4F;

    ---font-padrao: Arial, Helvetica, sans-serif;
    ---font-destaque: 'Alumni Sans Inline One', sans-serif;
    ---font-secundaria: 'Alumni Sans Collegiate One', sans-serif;
}

body, html {
    background-image: linear-gradient(to bottom, var(---cor01), var(---cor04));
    color: #403D38;
}

main {
    background-color: var(---cor02);
    
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
   margin: auto;


}

header {
    background-color: var(---cor03);
    text-align: center;
    padding: 30px;
}
header  h1 {
    font-family: var(---font-destaque);
}

article > h1 {
    text-align: var(---font-secundaria);
    background-image: linear-gradient(to right, var(---cor05), transparent);
    color: white;
    font-size: 2em;
}

main h2 {
    text-align: var(---font-secundaria);
    background-image: linear-gradient(to right, var(---cor05), transparent);
    color: white;
    font-size: 1.3em;
}

main p {
    text-align: justify;
    font-family: var(---font-padrao);
    
}
section {
    background-color: var(---cor02);
    padding: 20px;
    border-radius: 10px;
}

section > h3 {

    text-align: var(---font-secundaria);
    background-image: linear-gradient(to right, var(---cor05), transparent);
    color: white;
    font-size: 1.5em;
    
}

section, p {
    color: black;
    text-align: justify;
}

